{% extends  "baseArea.html" %}
{% block tituloArea %}Smart Class{% endblock %}
{% block cssArea %}areaAlunoSmartClass1.css{% endblock %}

{% block contentArea %}

    <div class="disciplinas">
        <h1>Smart Class</h1>
        <div class="disciplina">
            <a href="/areaAlunoSmartClass2">Analise e Desenvolvimento de Sistemas <span>></span></a>
        </div>
        <div class="disciplina">
            <a href="/areaAlunoSmartClass2">Analise e Desenvolvimento de Sistemas <span>></span></a>
        </div>
        <div class="disciplina">
            <a href="/areaAlunoSmartClass2">Analise e Desenvolvimento de Sistemas <span>></span></a>
        </div>
    </div>

{% endblock %}