{% extends  "baseArea.html" %}
{% block tituloArea %}Boletim{% endblock %}
{% block cssArea %}areaAlunoBoletim.css{% endblock %}

{% block contentArea %}

    <div class="boletim">
        <h1>Boletim</h1>
        <h2>1º Semestre</h2>
        <table class="tabelaBoletim">
            <tr>
                <th>Disciplina</th><th>Prova 1</th><th>Prova 2</th><th>Trabalho</th><th>Media</th>
            </tr>
            <tr>
                <td>ADS</td><td>10.0</td><td>5.15</td><td>3.0</td><td>8.0</td>
            </tr>
        </table>
        <h2>2º Semestre</h2>
        <table class="tabelaBoletim">
            <tr>
                <th>Disciplina</th><th>Prova 1</th><th>Prova 2</th><th>Trabalho</th><th>Media</th>
            </tr>
            <tr>
                <td>ADS</td><td>10.0</td><td>5.15</td><td>3.0</td><td>8.0</td>
            </tr>
        </table>
    </div>

{% endblock %}