{% extends  "baseArea.html" %}
{% block tituloArea %}Contato Professor{% endblock %}
{% block cssArea %}areaAlunoContatoProfessor.css{% endblock %}

{% block contentArea %}

    <div class="contatoProfessor">
        <h1>Contato Professor</h1>
        <table class="tabelaProfessores">
            <tr>
                <th>Professor</th><th>Email</th><th>Telefone</th>
            </tr>
            <tr>
                <td>Yuri</td><td>yuri@yuri.com</td><td>1495-7824</td>
            </tr>
        </table>
    </div>

{% endblock %}