{% extends  "baseArea.html" %}
{% block tituloArea %}Smart Class{% endblock %}
{% block cssArea %}areaAlunoSmartClass2.css{% endblock %}

{% block contentArea %}

    <div class="smartClass">
        <h1>Smart Class - ADS</h1>
        <article class="postClassPai">
            <div class="postClass">
                <h2>20/20/2017</h2>
                <p>video aula</p>
                <p>Arquivo</p>
            </div>
            <div class="postClass">
                <h2>20/20/2017</h2>
                <p>video aula</p>
                <p>Arquivo</p>
            </div>
            <div class="postClass">
                <h2>20/20/2017</h2>
                <p>video aula</p>
                <p>Arquivo</p>
            </div>
        </article>
    </div>

{% endblock %}