{% extends 'base.html' %}

{% block title %} Cadastro Disciplina {% endblock %}
{% block cssLink %}formulario.css{% endblock %}

{% block content %}
    <section class="container">
        <div class="titulo espaco">
            <h1>Adicionar Disciplina</h1>
        </div>
        <article class="formularioPai">
            <article class="formularioFlho">
                <form action="AdicionarDisciplina" method="POST">
                    <label for="professor">Professor Responsavel:</label><br/>
                    <input type="text" name="professor" id="professor" class="entrada espaco" placeholder="Nome" /><br/>
                    <label for="horasMensais">Quantidade de horas mensais:</label><br/>
                    <input type="text" name="horasMensais" id="horasMensais" class="entrada espaco" placeholder="xx Horas ou xx Minutos"><br/>
                    <label for="duracaoAula">Duração da Aula:</label><br/>
                    <input type="text" name="duracaoAula" id="duracaoAula" class="entrada espaco" placeholder="xx Horas ou xx Minutos"><br/>
                    <label for="diaMinistrado">Dia ministrado da semana:</label><br/>
                    <input type="text" name="diaMinistrado" id="diaMinistrado" class="entrada espaco" placeholder="xx-feira"><br/>
                    <label for="ementa">Ementa:</label><br/>
                    <textarea class="entrada espaco" name="ementa" id="ementa"></textarea><br/>
                    <button type="submit" value="Enviar">Enviar</button>
                    <button  type="reset" value="Limpar">Limpar</button>
                </form>
            </article>
        </article>
    </section>
{% endblock%}