{% extends "base.html" %}
{% block title %}Cursos{% endblock %}
{% block cssLink %}listacurso.css{% endblock %}

{% block content %}
    <section class="slide">
        <p>Cursos</p>
    </section>
    <section class="cursoPai">
        <article class="cursoFilho">
            {% for curso in cursos %}
            <div>
                <h1>{{ curso.sigla }}</h1>
                <h2>{{ curso.nome }}</h2>
                <p>{{ curso.descricao_basica }}</p>
                <a href="/curso/{{ curso.sigla }}"><button>Saiba mais</button></a>
            </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}
                
