{% extends "base.html" %}
{% block title %}Cursos{% endblock %}
{% block cssLink %}cursos.css{% endblock %}

{% block content %}
    <section class="slide">
        <p>Cursos</p>
    </section>

    <section class="cursoPai">
        <article class="cursoFilho">
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo Curso</h3>
                <button><a href="/detalheCurso">Saiba mais</a></button>
            </div>
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo Curso</h3>
                <button><a href="/detalheCurso">Saiba mais</a></button>
            </div>
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo Curso</h3>
                <button><a href="/detalheCurso">Saiba mais</a></button>
            </div>
        </article>
    </section>
{% endblock %}