{% extends "base.html" %}
{% block title %}Noticias{% endblock %}
{% block cssLink %}noticias.css{% endblock %}

{% block content %}
    <section class="slide">
        <p>Noticias</p>
    </section>

    <section class="noticiasPai">
        <article class="noticiasFilho">
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo 1</h3>
                <p>Descrição da postagem 1</p>
                <button>Leia mais</button>
            </div>
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo 2</h3>
                <p>Descrição da postagem 2</p>
                <button>Leia mais</button>
            </div>
            <div>
                <img src="../static/img/evento.jpg" alt="" />
                <h3>Titulo 3</h3>
                <p>Descrição da postagem 3</p>
                <button>Leia mais</button>
            </div>
        </article>
    </section>



{% endblock %}