@import url('https://fonts.googleapis.com/css?family=Arimo:700|Questrial');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #212121;
}

h1, h2, h3, h4, th {
    font-family: 'Arimo', sans-serif;
    color: #ff8c00;
}

p, a, td {
    font-family: 'Questrial', sans-serif;
    color: #fff;
}

button {
    height: 33px;
    border: 1px solid #ff8c00;
    color: #fff;
}

button:hover {
    transition: .9s ease;
    background-color: #ff8c00;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 1000px;
}

.acessoRapido {
    background-color: #3d3d3d;
    padding: 20px 20px;
}

.acessoRapido img {
    width: 200px;
}

.acessoRapido h2 {
    margin: 20px 0
}

.acessoRapido nav ul {
    list-style: none;
}

.acessoRapido nav ul li {
    padding: 5px 0;
}

.acessoRapido nav ul li a {
    text-decoration: none;
}

.acessoRapido nav ul li a:hover {
    transition: .5s ease;
    color: #ff8c00;
}

.esquerdo {float: right;}

.logado {
    width: 100%;
    height: 50px;
    background-color: #3d3d3d;
}

.logado img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    margin: 10px 10px;
}

.logado p {
    margin: 17px 5px;
}

.logado button {
    width: 50px;
    margin: 10px 10px;
    background-color: #3d3d3d;
}

    @media screen and (max-width: 1024px)
    {
        .container {
            grid-template-columns: 100%;
            height: 550px;
        }

        .acessoRapido {
            text-align: center;
        }
    }