.container { 
    display: flex;
    flex: 2;
    justify-content: space-around; 
}
.sobreCurso { 
    width: 40vw;
    flex-direction: column;
    flex-wrap: wrap;
}
.gradeCurso { 
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;    
}
